{% for section in glossary.getSections() %}
[<kbd>{{ section }}</kbd>](#{{ section }})
{% if loop.last == false  %} | {% endif%}
{% endfor %}

{% for section in glossary.getSections() %}

## {{ section }}

<table>
{% for term in glossary.getTermsForSection(section) %}
    <tr>
        <td><strong>{{ term.getName() }}</strong></td>
        <td>{{ term.getDescription() }}</td>
    </tr>
{% endfor %}
</table>
{% endfor %}