<p align="center">
{% for section in glossary.getSections() %}
    <a href="#{{ section }}">{{ section }}</a>
{% if loop.last == false  %} | {% endif%}
{% endfor %}
</p>

{% for section in glossary.getSections() %}

## {{ section }}

<table>
{% for term in glossary.getTermsForSection(section) %}
    <tr>
        <td><strong>{{ term.getName() }}</strong></td>
        <td>{{ term.getDescription() }}</td>
    </tr>
{% endfor %}
</table>
{% endfor %}